{% extends 'base.html' %}

{% block content %}

<section class="hero">

<div class="app-container">

<h1>{{ user }}</h1>

<p>
Full Stack Developer & AI Enthusiast
</p>

<br>

<div class="projects-grid">

<div class="project-card">

<h3>Skills</h3>

<p>
Python, Flask, JavaScript,
AI, Data Analytics
</p>

</div>

<div class="project-card">

<h3>Education</h3>

<p>
MCA - St. Joseph's University
</p>

</div>

<div class="project-card">

<h3>Experience</h3>

<p>
AI/ML Internship at Comedkares
</p>

</div>

</div>

</div>

</section>

{% endblock %}